/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*                  Reset                   */
/*//////////////////////////////////////////////////////////////////////////////////////////////////*/

*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*                  Fonts                   */
/*//////////////////////////////////////////////////////////////////////////////////////////////////*/


@font-face {
  font-family: 'Hiruko Pro';
  src: local('Hiruko Pro Black'), local('HirukoPro-Black'),
      url('../fonts/hirukopro-black-webfont.woff2') format('woff2'),
      url('../fonts/hirukopro-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*                  Header                   */
/*//////////////////////////////////////////////////////////////////////////////////////////////////*/

body {
  background: radial-gradient(circle, #F9A72B 0%, #FA9026 70%, #FB6C1F 100%);
}

.header {
  background: rgba(16, 15, 13, 0.95);
  border-radius: 0 0 5px 5px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}

.header__logo {
  font: 40px 'Hiruko Pro';
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.menu-header__list {
  display: flex;
  font: 24px "Roboto";
  z-index: 5;
}

.menu-header__link {
  margin-right: 80px;
  cursor: pointer;
}

.menu-header__list :nth-child(4) {
  margin-right: 0;
}
/*/////////////////////////////////////////////////////////////////////////*/
/*                    Modal Window Settings                    */
/*/////////////////////////////////////////////////////////////////////////*/

.setting-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: opacity .5s, padding .5s;
}

.setting-menu__container {
  border-radius: 10px;
  background: #ffddaa;
  position: relative;
  width: 100%;
  height: 100%;
}

.setting-menu__closed {
  background: url(../img/close.svg) center center no-repeat;
  background-size: 20px 20px;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 2%;
  top: 3%;
  cursor: pointer;
}

._setting-active {
  opacity: 1;
  visibility: visible;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 5;
  padding: 5em 10em 2em 10em;
  background: rgba(16, 15, 13, .8);
}

/*/////////////////////////////////////////////////////////////////////////*/
/*                    Aimated Text                    */
/*/////////////////////////////////////////////////////////////////////////*/
._text-decoration {
  color: rgba(225, 225, 225, .2);
  background: linear-gradient(90deg, rgba(255,46,0,1) 0%, rgba(255,106,42,1) 25%, rgba(249,178,34,1) 50%, rgba(255,191,61,1) 80%, rgba(255,230,86,1) 90%, rgba(251,255,79,1) 100%) center center repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: contain;
  transition: background-position .4s;
}
@media screen and (min-width: 767px){
  .menu-header__list :nth-child(1) a:hover {
    background-position: 107.11px 0;
  }

  .menu-header__list :nth-child(2) a:hover {
    background-position: 112.69px 0;
  }

  .menu-header__list :nth-child(3) a:hover {
    background-position: 79.55px 0;
  }

  .menu-header__list :nth-child(4):hover {
    background-position: 75.11px 0;
  }
}
/*/////////////////////////////////////////////////////////////////////////*/
/*                    Aimated BG                    */
/*/////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 1px){
  .bg-cloud {
      top: 0;
      left: 0;
      width: 100%;
      height: 60vh;
      margin: 20vh 0 20vh 0;
      position: absolute;
    }

    .bg-cloud__container {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    .clouds {
      position: absolute;
      width: 100%;
      height: 40%;
    }

    .background {
      background: url(../img/small.svg) no-repeat;
      animation: animation_cloud 160s linear infinite;
      z-index: -2;
    }

    .foreground {
      background: url(../img/big.svg) no-repeat;
      animation: animation_cloud 130s linear infinite;
      z-index: -1;
    }

    .clouds.background:nth-child(1) {
      top: 10%;
      animation-delay: -70s;
      background-size: auto 20%;
    }

    .clouds.foreground:nth-child(2) {
      animation-delay: -30s;
      top: 1%;
      background-size: auto 50%;
    }

    .clouds.background:nth-child(3) {
      animation-delay: -40s;
      top: 30%;
      background-size: auto 10%;
    }

    .clouds.foreground:nth-child(4) {
      animation-delay: -85s;
      top: 10%;
      background-size: auto 60%;
    }

    .clouds.background:nth-child(5) {
      animation-delay: -120s;
      top: 40%;
      background-size: auto 25%;
    }

    .clouds.foreground:nth-child(6) {
      animation-delay: -50s;
      top: 60%;
      background-size: auto 60%;
    }

    .clouds.background:nth-child(7) {
      animation-delay: -100s;
      top: 80%;
      background-size: auto 22%;
    }

    .clouds.foreground:nth-child(8) {
      animation-delay: -1s;
      top: 45%;
      background-size: auto 60%;
    }

    .clouds.background:nth-child(9) {
      animation-delay: -15s;
      top: 50%;
      background-size: auto 15%;
    }

    .clouds.foreground:nth-child(10) {
      animation-delay: 10s;
      top: 15%;
      background-size: auto 35%;
    }

  @keyframes animation_cloud {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100%) translateZ(0);
      transform: translateX(100%) translateZ(0);
    }
    4% {
      opacity: 1;
    }
    100%{
      -webkit-transform: translateX(-15%) translateZ(0);
      transform: translateX(-15%) translateZ(0);
    }
  }
}

/*/////////////////////////////////////////////////////////////////////////*/
/*                    Adaptive                    */
/*/////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 920px) {
  .header {
    background: rgba(16, 15, 13, 1);
    border-radius: 0;
    border-bottom: 2px solid rgba(255,106,42,1);
  }
  .header__logo {
    margin: 0 auto;
  }
  ._setting-active {
    padding: 5em 5em 2em 5em;
  }
  .menu-header {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 52px;
    padding: 10px 0;
    background: rgba(16, 15, 13, 0.95);
  }
  .menu-header__list li {
    margin-right: 80px;
  }
}

@media screen and (max-width: 767px) {
  .menu-header__button {
    width: 100%;
    height: 40px;
    top: 0;
    position: absolute;
    background-image: url(../img/arrow-bottom.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
  }
  .menu-header {
    position: absolute;
    padding: 20px 0;
  }
  .menu-header__list {
    transition: opacity .5s, padding .5s;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
  }

  .menu-header__list li {
    margin: 15px 0;
  }

  ._menu-header__list-open {
    position: relative;
    opacity: 1;
    visibility: visible;
  }

  ._menu-header-deactivate {
    background-image: none;
  }

  .setting-menu__closed {
    top: 2%;
    right: 3%;
  }
}



@font-face {
  font-family: 'Ilon';
  src: url('../../Nickainley-Normal.ttf');
  font-weight: normal;
  font-style: italic;
}

.container_ilon {
  width: 100%;
  height: 100%;
  background: black;
  opacity: .6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  font-family: 'Ilon';
  padding: 60px 40px;
  text-align: center;
  line-height: 40px;
  position: relative;
  z-index: 1000;
  color: white;
}

h1 {
  font-size: 50px;
  display: block;
  width: 100%;
  margin-bottom: 40px;
}