/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*                  RESET                   */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*                  Fonts                   */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/

@font-face {
    font-family: "Big John";
    src: url("../fonts/BIG JOHN.otf");
    font-display: block;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*                  HEADER              */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/

.main-screen {
    display: flex;
    flex-direction: column;
    background: url(../img/header.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 6.5%;
}

.main-screen__header {
    margin-top: 45px;
}

.header__container {
    margin: 0 5vw;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font: 25px "Big John";
    color: #fff;;
    cursor: default;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*                  Nav                 */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/

.header__nav {
    display: flex;
    font-size: 16px;
    color: #fff;
}

.header__nav li {
    margin-right: 25px;
}

.header__nav :last-child {
    margin: 0;
}

.header__nav  a {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    transition: color .5s;
}

.header__nav  a:hover {
    color: #ccc;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*                  Code Cafe                   */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/

.main-screen__header nav {
    display: flex;
    align-items: center;
}

.main-screen__code-cafe {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 75%;
    color: #fff;
}

.main-screen__code-cafe__title {
    text-transform: uppercase;
    font: 300 35px "Source Sans Pro", sans-serif;
    letter-spacing: 0.2em;
    margin-bottom: 45px;
}

.main-screen__code-cafe__subtitle {
    max-width: 605px;
    letter-spacing: 0.05em;
    font: 16px/28px "Open Sans", sans-serif;
    margin-bottom: 10px;
}

.main-screen__arrow-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.main-screen__arrow-bottom a {
    cursor: default;
    padding: 15px;
    border-radius: 50%;
    background: #19bd9a;
}

.main-screen__arrow-bottom img {
    border-radius: 50%;
    padding: 15px;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: transform .5s;
}

.main-screen__arrow-bottom img:hover {
    transform: translate(-50%, -35%);
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*                  This-is-bouncy                  */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/

.this-is-bouncy {
    margin-bottom: 3%;
}

.this-is-bouncy__container {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.this-is-bouncy__wrap-column {
    flex-direction: column;
}

.this-is-bouncy__text {
    margin-top: 5%;
    font: 300 14px "Source Sans Pro", sans-serif;
    word-spacing: 0.3vw;
    width: 54%;
    margin-right: 15%;
}

.this-is-bouncy__title {
    font: 300 20px "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #333b46;
    margin-bottom: 8%;
}

.this-is-bouncy__subtitle {
    font: 14px/28px "Open Sans", sans-serif;
    color: #81868e;
    margin-bottom: 5%;
}

.this-is-bouncy__button-readMore {
    font: 16px "Open Sans", sans-serif;
    display: inline-block;
    border: 1px solid #414852;
    border-radius: 50px;
    padding: 1.5% 7%;
    color: #333b46;
    transition: background .5s, color .4s, border .5s;
}

.this-is-bouncy__button-readMore:hover {
    border: 1px solid #aaa;
    background: #ccc;
    color: #fff;
}


.this-is-bouncy__phone {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*                  Details About Bouncy                    */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/

.details-about-bouncy {
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-about-bouncy__title {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 6%;
    font: 300 20px "Source Sans Pro", sans-serif;
    color: #666c74;
}

.details-about-bouncy__subtitle {
    margin-top: 2.5%;
    text-align: center;
    letter-spacing: 0.05em;
    font: 14px/25px "Open Sans", sans-serif;
    color: #666c74;
    width: 35%;
}

.details-about-bouncy__img-icon {
    width: 80%;
    margin-top: 4.5%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.details-about-bouncy__img-icon :last-child {
    margin: 0;
}

.details-about-bouncy__img-icon img {
    transform: translateX(-8%);
    position: relative;
    z-index: 2;
    width: 30px;
    height: 30px;
}

.details-about-bouncy__img-icon :nth-child(2) img {
    transform: translate(-8%, -10%);
}

.details-about-bouncy__img-icon li {
    margin-right: 5%;
    position: relative;
}

.details-about-bouncy__img-icon li:after {
    position: absolute;
    content: "";
    top: -50%;
    left: -50%;
    padding: 26.5px;
    border: 1px solid #81868e;
    border-radius: 50%;
    background: #81868e;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*                  Creative Ideas                  */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
.creative-ideas {
    margin-top: 5%;
    margin-bottom: 7.1%;
    font-family: "Open Sans", sans-serif;
}

.creative-ideas__container {
    width: 80%;
    margin: 0 auto;
}

.creative-ideas__wrap {
    display: flex;
    flex-direction: row;
}

.creative-ideas__title {
    letter-spacing: 0.04em;
    font: 20px "Open Sans", sans-serif;
    color: #464646;
    margin-bottom: 3%;
}

.font-bold {
    font-weight: bold;
}

.color-blue-bold {
    color: #19bd9a;
    font-weight: bold;
}

.creative-ideas__subtitle {
    line-height: 28px;
    letter-spacing: 0.05em;
    font-size: 16px;
    width: 31%;
    margin-right: 10%;
}

.creative-ideas__txt {
    line-height: 25px;
    font-size: 14px;
    width: 61%;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*                  Featured Projects                  */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/

.featured-projects {
    margin-top: 5.9%;
}

.featured-projects__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featured-projects__title {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font: 300 20px "Source Sans Pro", sans-serif;
    color: #333b46;
    margin-bottom: 2.5%;
}

.featured-projects__subtitle {
    letter-spacing: 0.05em;
    width: 40%;
    font: 14px/25px "Open Sans", sans-serif; 
    color: #81868e;
    margin-bottom: 5.5%;
}

.featured-projects__images {
    width: 100%;
    display: flex;
}

.featured-projects__images-contain {
    width: 33.33%;
    height: 50vh;
    transition: background-image .4s, width .4s;
    background: center center no-repeat;
    background-size: cover;
}

.featured-projects__images-contain-first {
    background-image: url(../img/feature-projects__images-first.jpg);
}
.featured-projects__images-contain-second {
    background-image: url(../img/feature-projects__images-second.jpg);
}
.featured-projects__images-contain-third {
    background-image: url(../img/feature-projects__images-third.jpg);
}

.featured-projects__images-contain-first:hover {
    background-image: url(../img/feature-projects__images-first-hover.jpg);
    width: 35%;
}

.featured-projects__images-contain-second:hover {
    background-image: url(../img/feature-projects__images-second-hover.jpg);
    width: 35%;
}

.featured-projects__images-contain-third:hover  {
    background-image: url(../img/feature-projects__images-third-hover.jpg);
    width: 35%;
}

.images-macket__txt {
    letter-spacing: 0.2em;
    height: 100%;
    font: 300 20px "Source Sans Pro";
    letter-spacing: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity .4s;
    cursor: default;
}

.images-macket__txt:hover {
    opacity: 0;
}

.featured-projects__submit {
    letter-spacing: 0.04em;
    font: 20px "Open Sans", sans-serif;
    color: #fff;
    background: url(../img/feature-projects__submit.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 13vh;
}

.featured-projects__submit-conainer {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-projects__submit-txt {
    width: 70%;
}

.featured-projects__submit-button {
    width: 13vw;
    white-space: nowrap;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 1% 3%;
    transition: .5s border, .5s color;
}

.featured-projects__submit-button:hover {
    color: #ccc;
    border: 1px solid #ccc;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*                   Our Cervices                     */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/

.our-services {
    margin: 85px 0 137px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.our-services__title {
    letter-spacing: 0.2em;
    font: 20px "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    margin-bottom: 41px;
    color: #333b46;
}

.our-services-subtitle {
    letter-spacing: 0.05em;
    text-align: center;
    width: 32vw;
    font: 14px "Open Sans", sans-serif;
    color: #81868e;
    margin-bottom: 33px;
    line-height: 25px;
}

.our-services__wrapper {
    width: 77%;
    margin: 0 auto;
    display: flex;
}

.our-services__img {
    margin-right: 3.9vw;
}

.our-services__img li {
    margin-bottom: 1.5vw;
    padding: 10.5px;
    border-radius: 50%;
    background: #81868e;
}

.our-services__img-joy {
    transform: translateY(-10%);
}

.our-services__img-plug {
    transform: translateX(10%);
}

.our-services__img img {
    width: 28px;
    height: 28px;
}

.our-services__graphic-design {
    letter-spacing: 0.05em;
    width: 29vw;
    font-family: "Open Sans", sans-serif;
    margin-right: 5.8vw;
}


.graphic-design__title {
    letter-spacing: 0.04em;
    font-size: 20px;
    color: #464646;
    margin-bottom: 5.3vh;
}

.graphic-design__subtitle {
    letter-spacing: 0.05em;
    font-size: 16px;
    color: #81868e;
    margin-bottom: 5vh;
    line-height: 28px;
}

.graphic-design__txt {
    font-size: 14px;
    color: #81868e;
    line-height: 25px;
}
  
.our-services__circle {
    display: flex;
    align-items: center;
}

.our-services__circle-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3.3vw;
}

.our-services__circle-column:last-child {
    margin: 0;
}

.circle-column__wrapper {
    position: relative;
    margin-bottom: 3.8vh;
}

.fz-14 {
    font-size: 12px;
}

.circle-percent__txt {
    position: absolute;
    font: 25px "Open Sans", sans-serif;
    color: #81868e;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.our-services__circle-meta {
    font: 16px "Roboto", sans-serif;
    color: #81868e;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*                  IMPRESSED                   */                   
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/

.impressed {
    background: url(../img/impressed-bg.jpg) center center no-repeat;
    background-size: cover;
    height: 56.5vh;
    color: #b2b3b3;
}

.impressed-container {
    margin: 0 6.5vw 0 6.5vw;
    display: flex;
    letter-spacing: 0.05em;
}

.impressed-column {
    display: flex;
    flex-direction: column;
}

.impressed-title {
    letter-spacing: 0.2em;
    font: 300 20px "Source Sans Pro", sans-serif;
    color: #f3f3f3;
    margin: 11vh 0 9vh 0;
    text-transform: uppercase;
}

.impressed-subtitle {
    width: 46vw;
    font: 16px/28px "Open Sans", sans-serif;
    margin: 0 9.3vw 3vh 0;
}

.impressed-noman {
    font: bold 14px "Open Sans", sans-serif;
    text-transform: uppercase;
    margin-bottom: 1vh;
}

.color-blue {
    color: #19bd9a;
}

.impressed-creative-director {
    font: 14px "Open Sans", sans-serif;
    text-transform: uppercase;
}

.impressed-pc {
    margin-top: -5vh;
}

.impressed-pc-wrap {
    position: relative;
}

.impressed-pc-txt {
    font: 30px "Big John";
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*                  Portfolio                   */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/

.portfolio {
    padding: 85px 0 100px 0;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__title {
    font: 300 20px "Source Sans Pro";
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #333b46;
    margin-bottom: 40px;
}

.portfolio__subtitle {
    max-width: 460px;
    font: 14px/25px "Open Sans";
    letter-spacing: 0.05em;
    color: #81868e;
    text-align: center;
    margin-bottom: 85px;
}

.portfolio__categories {
    font: 16px "Open Sans";
    display: flex;
    margin-bottom: 85px;
}

.portfolio__categories a {
    color: #464646;
}

.portfolio__categories li {
    margin-right: 40px;
}

.portfolio__categories :last-child {
    margin: 0;
}

.portfolio__wraper {
    display: flex;
    flex-direction: column;
}

.portfolio__container-jobs {
    display: flex;
    margin-bottom: 40px;
}

.container-jobs__column {
    display: flex;
    flex-direction: column;
}

.container-jobs__column img {
    margin: 0 10px 10px 0;
}

.container-jobs__column :last-child {
    margin-bottom: 0;
}

.portfolio__container-jobs :last-child img {
    margin-right: 0;
}

.container-jobs__footer {
    background: url(../img/container-jobs__footer.jpg) center center no-repeat;
    background-size: cover;
}

.container-jobs__footer-title {
    font: 20px "Open Sans";
    letter-spacing: 0.04em;
    padding: 60px 0 30px 0;
    color: #fff;
    text-align: center;
}

.container-jobs__footer-wrap {
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}

.container-jobs__footer-button {
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid #fff;
    border-radius: 25px;
    color: #fff;
}
  
