html,
body {
  font-family: Comic Sans MS;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg.svg);
  background-position: center;
  background-size: cover;
}
.container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: inherit;
  font-size: 55px;
  letter-spacing: 50px;
  margin: 0;
}

.T {
  color: #821fb3;
}
.e {
  color: #bb369c;
}
.s {
  color: #eb9178;
}
.t {
  color: #498faf;
}

/* back */
.back a {
  position: relative;
  z-index: 1;
  color: rgba(0, 0, 0, 0);
  text-decoration: none;
  font-size: 50px;
}
